input[type=button] {
	background-color: #24b260;
	border: 1px solid #24b260;
	color: #fff;
	cursor: pointer;
	padding: 2px 15px;
	text-decoration: none;
	transition: color .25s ease-out 0s
}

input[type=text],textarea {
	border: 1px solid #DADADA
}

.aLink {
	border: 1px solid #24b260;
	color: #24b260
}

.aLink:hover {
	background-color: #24b260;
	border: 1px solid #24b260;
	color: #fff
}

.siteHeader {
	background-color: #24b260;
	color: #fff
}

.feedback {
	border: 2px solid #24b260;
	z-index:10;
	visibility: hidden;
}

#fbTbl tbody tr td {
	border-bottom: #000
}

.dataTbls tbody td {
	border-bottom: 1px solid #24b260
}

.dataTbls thead {
	background-color: #24b260
}

.dataTbls thead tr span {
	color: #fff
}

#qstn_count {
	border: 4px solid #24b260
}

.dataTbl {
	background-color: #fff
}

.divHeader {
	background-color: maroon
}

/*  qstnForuser */

.attempted {
	background-color: #24b260;
}

.bk {
	border: 1px solid #24b260;
	
}

/*  qstnPage */
.selectedQstn {
	background-color: #24b260;
}

.editQuestion:hover{
	background-color: #24b260;
}
